.iconWrapper{

    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 0 0 100px;
}
.iconContainer{
    width: 180px;
    height: 180px;

    border-radius: 50%;
    text-align: center;
    line-height: 180px;
    font-size: 30px;
    background: rgb(255, 235, 200);

    color: #263645;
    transition: 0.3s all;
}

.icon0{
  transform: translate(400px, 90px);
    animation: slideUp0 1s;
    opacity: 0;

}
.icon1{
   transform: translate(550px, 200px);
    animation: slideUp1 1s;
    animation-delay: 0.3s;
    opacity: 0;
}
.icon2{
   transform: translate(90px, 340px);
    animation: slideUp2 1s;
    animation-delay: 0.6s;
    opacity: 0;
}
.icon3{
  transform: translate(350px, 430px);
    animation: slideUp3 1s;
    animation-delay: 0.9s;
    opacity: 0;

}

.changed {
    opacity: 1;
}

.hoverIcon{
    width: 300px;
    height: 300px;
    transition: 0.3s all;
}
@keyframes slideUp0 {
    from{
        opacity: 0;
        transform: translate(360px, 150px);
    }
    to{
        opacity: 1;
        transform: translate(400px, 90px);
    }
}

@keyframes slideUp1 {
    from{
        opacity: 0;
        transform: translate(580px, 150px);
    }
    to{
        opacity: 1;
        transform: translate(550px, 200px);
    }
}
@keyframes slideUp2 {
    from{
        opacity: 0;
        transform: translate(90px, 360px);
    }
    to{
        opacity: 1;
       transform: translate(90px, 340px);
    }
}
@keyframes slideUp3 {
    from{
        opacity: 0;
        transform: translate(400px, 360px);
    }
    to{
        opacity: 1;
        transform: translate(350px, 430px);
    }
}