:root {
    --header-box-color: #F4F2EE;
    --selected-title-color: #63813E;
    --img-border-color: #7488B9;
    --img-hover-border-color: #00827F;
    --category-background-color: #F0F8F4;
    --category-border-color: #dcf1e7;
    --category-number-color: #0E813E;
}
.contentBox {
    padding-top: 70px;
    white-space: pre-wrap;
}
.subContentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
/* 페이지 헤드라인 */
.adoptHeader {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-box-color);
    transition: height 0.5s ease-out;
}
/* 입양 양식 */
.adoptForm {
    background-color: var(--category-background-color);
    display: flex;
    flex-direction: column;
    padding: 25px 25px 0 25px;
    width: 100%;
    max-width: 1300px;

}
/* 카테고리 구성 */
.adoptFormGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
.adoptFormMobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
.adoptFormRow {
    display: flex;
    flex-direction: row;
}
.adoptFormGroup label {
    cursor: default;
    min-width: 100px;
    margin-left: 5px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}
.adoptFormControl {
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--category-border-color);
    box-sizing: border-box;
    border-radius: 7px;
    font-weight: normal;
    padding: 12px 10px;
}
.adoptFormSubmit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.adoptFormSubmit button {
    align-items: center;
    padding: 10px 30px;
    cursor: pointer;
    line-height: 1;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: var(--category-number-color);
}
/* */
.adoptDetailTitle {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.adoptDetailTitle button {
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    line-height: 1;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 7px;
    background-color: var(--img-border-color);
}

.CardBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1300px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.adoptDetailCard {
    border: 1px solid var(--img-border-color);
    border-radius: 13px;
    list-style: none;
    max-width: 300px;
    flex: 1 1 calc(25% - 20px);
    flex-direction: row;
    margin: 10px;
}
.adoptDetailCard img {
    width: 100%;
    height: 300px;
    border-radius: 13px;
}
.adoptDetailInfo {
    white-space: nowrap;
    max-width: 300px;
    padding: 0 20px 20px 20px;
}
.adoptInfoItem {
    display: flex;
    flex-direction: row;
    padding: 2px 0 2px 0;
}
.infoHeader {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}
.infoTitle {
    color: #7488B9;
    margin-right: 15px;
    min-width: 70px;
}
.infoValue {

}

/* 가르는 선 */
.hr {
    height: 1px;
    width: 100%;
    margin-top: 5px;
    background-color: var(--category-border-color);
}
/* 하이폰 */
.hyphen {
    margin: 0.5rem;
}
@media (max-width: 1000px) {
    .adoptHeader {
        height: 130px;
    }
    .adoptDetailCard {
        flex: 1 1 calc(33% - 25px);
    }
    input, textarea, select {
        font-size: 15px;
        color: #000;
    }
}

@media (max-width: 900px) {
    .adoptDetailCard {
        flex: 1 1 calc(50% - 25px);
    }
}
@media (max-width: 600px) {
    .adoptDetailCard {
        flex: 1 1 100%;
    }
}